<%- include('./partials/header') %>

<main class="container text-center py-5 my-5">

    <div class="alert  alert-success" role="alert">
        Cadastro realizado com sucesso, <%= nome %>!
    </div>

    <a href="/" class="btn btn-secondary">voltar</a>

</main>
<%- include('./partials/footer') %>